
.wildSkipRow{
	color:black;
	background-color:#7f7f7f;
	border-radius:10px;
}
.wildLabel {
	font-size:400%;
	color:black;
	background-color:#7f7f7f;
	display:inline-block;
	margin:36px;
}

    	.button{
			font-size:400%;
			border-radius:10px;
			background:linear-gradient(rgb(76, 139, 176), #8be2de,rgb(76, 148, 176) );
			border-style:outset;
			padding-left:0px;
			padding-top:0px;
			padding-right:2px;
			padding-bottom:2px;
		}

    	.pressed{
			border-style:inset;
			padding-left:2px;
			padding-top:2px;
			padding-right:0px;
			padding-bottom:0px;
		}

    	.go{
			background:linear-gradient(rgb(76, 176, 139), #8be2de,rgb(76, 176, 148) );
		}
    	.nogo{
			background:linear-gradient(rgb(176, 46, 43), #de6b62,rgb(176, 46, 43) );
		}

    	.buttonInner{
			border-radius:10px;
				background:lightgray;
				padding-left:10px;
				padding-right:10px;
				margin:25px;
				/*margin-left:25px;
				margin-right:25px;*/
				border-style:inset;
				color:black;
				font-weight:bold;
		}


.frameContainer {
	/*background-color:rgba(140, 150, 130, 1.0);*/
	background:linear-gradient(rgb(0, 26, 43), #0e1b62,rgb(20, 46, 78) );
}

.noticeText {
	font-family:sans-serif;
	font-size:500%;
}
.notice.button {
	display:inline-block;
}
.notice.buttonInner {
	font-family:sans-serif;
	font-size:100%;
}
